<h1>Listing whouses</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Name</th>
      <th>Code</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @whouses.each do |whouse| %>
      <tr>
        <td><%= whouse.account_id %></td>
        <td><%= whouse.name %></td>
        <td><%= whouse.code %></td>
        <td><%= whouse.description %></td>
        <td><%= link_to 'Show', whouse %></td>
        <td><%= link_to 'Edit', edit_whouse_path(whouse) %></td>
        <td><%= link_to 'Destroy', whouse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Whouse', new_whouse_path %>
