<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @whouse.account_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @whouse.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @whouse.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @whouse.description %>
</p>

<%= link_to 'Edit', edit_whouse_path(@whouse) %> |
<%= link_to 'Back', whouses_path %>
